/* genel */
@font-face {
    font-family:'Exo';
    src:url(../otf/Exo-Regular.otf);
}

html {
    height:100%;
}

body {
    -webkit-touch-callout:none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select:none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background:fixed;
    font-family:'Exo' !important;
    font-size:14px;
    font-weight:400;
    margin:0;
    padding:0;    
    height:100%;
}

#appHolder {
    width:100%;
    height:100%;
    background:url(../img/bg.png) top center;
}
#topHolder {
    position:fixed; top:0; width:100%; height:60px;
    background:url(../img/header.png) top center no-repeat;
    z-index:1;
}

#logoHolder {
    position:fixed; top:3px; left:6%;
}
#logo {
    width:45px; height:auto;
}

#titleHolder {
    font-size:1.9em; font-weight:600; color:white; position:fixed;
    right:4%; top:4px; text-shadow:-1px -1px 1px #000;
}

#contentHolder {
    padding:70px 4% 70px 4%; overflow:hidden;
}

#navHolder {
    position:fixed; bottom:0; width:100%; height:60px; z-index:1200;
    background:url(../img/navBar.png) bottom center no-repeat;
}
#homeHolder {
    position:fixed; bottom:0; left:5%;
}
#loginHolder {
    position:fixed; bottom:10px; left:15%; width:70%; text-align:center;
    font-size:1.9em; font-weight:600; color:white;
}
#notificationHolder {
    position:fixed; bottom:0; right:5%;
}
#notification {
    position:fixed; bottom:36px; right:10%;
    border-radius:10px; background:red;
    border:2px solid #FFF; box-shadow:0 0 5px 0 #000;  
    color:#FFF; font-weight:700; text-align:center;
    width:15px; height:15px; padding:0 2px 2px 1px;
}

p {
    width:90%; padding:10px 0; margin:10px auto 10px;
    font-size:1.2em;
}

a[data-role='button'], #btn {
    width:90%; margin:10px auto 10px; display:block; text-align:center;
    padding:20px 0; background:#FFF; border:1px solid #CCCCCC;
    border-radius:4px; box-shadow:1px 1px 6px -3px #000;
    color:#333; text-decoration:none; font-weight:700; font-size:1.8em;
}
input {
    padding:10px 2%; width:86%; display:block; border:1px solid #CCC; border-radius:4px;
    margin:10px auto 10px; font-family: 'Exo 2', sans-serif; font-size:1.2em;
    background: #FFFFFF; box-shadow:2px 2px 8px -3px #000 inset;
}
select {
    padding:10px 2%; width:90%; display:block; border:1px solid #CCC; border-radius:4px;
    margin:10px auto 10px; font-family: 'Exo 2', sans-serif; font-size:1.2em;
    background:#FFF url("https://www.aradekor.com/sites/all/themes/fresh_theme/images/select.png) right center no-repeat;
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
    box-shadow:1px 1px 6px -3px #000;
}
option {
    font-family: 'Exo', sans-serif;
}

.userNotification {
    width:86%; padding:10px 2%; margin:10px auto 10px;
    border-radius:4px; border:1px solid #CCC;  font-size:1.2em;
    background: -moz-linear-gradient(#f1ffa0 0%, #ddeb8c 99%);
    background: -o-linear-gradient(#f1ffa0 0%, #ddeb8c 99%);
    background: linear-gradient(#f1ffa0 0%, #ddeb8c 99%);
    box-shadow:1px 1px 6px -3px #000;
}
.generalNotification.hayir {
    width:86%; padding:10px 2%; margin:10px auto 10px;
    border-radius:4px; border:1px solid #CCC; font-size:1.2em;
    background: -webkit-linear-gradient(#FFFFFF 0%, #EEEEEE 99%);
    background: -moz-linear-gradient(#FFFFFF 0%, #EEEEEE 99%);
    background: -o-linear-gradient(#FFFFFF 0%, #EEEEEE 99%);
    background: linear-gradient(#FFFFFF 0%, #EEEEEE 99%);
    box-shadow:1px 1px 6px -3px #000;
}
.userNotification h3 {
    font-size:1.3em; font-weight:600; margin:3px 0;
}
.generalNotification h3 {
    font-size:1.3em; font-weight:600; margin:3px 0;
}

.ornekBasvurularim {
    width:86%; padding:10px 2%; margin:10px auto 10px;
    border-radius:4px; border:1px solid #CCC; overflow:hidden;
    background:#FFF; box-shadow:1px 1px 6px -3px #000;
}
.profile {
    width:40%; float: left; margin:5%;
    border-radius:4px; overflow:hidden;
    background:#FFF; box-shadow:1px 1px 6px -3px #000;
}

.profileImage {
    width:100%; height:auto;
}

.profileName {
    font-weight:bold; text-align:center;
    padding:2%;
}
.singleProfileImage {
    margin:auto; width:100%; height:auto;
}
.singleProfileName {
    width:90%; margin:.1em auto .1em; font-size:2em;
    font-weight:bold;
}
.singleProfileSkin {
    width:90%; margin:.1em auto .1em;
}
.singleProfileLabel {
    float:left; width:30%; font-weight:bold;
}
.singleProfileContent {
    float:left; width:70%;
}
.singleProfileOtherPics {
    width:100%; height:auto; margin:5px auto 10px; display:block;
    padding:20px 0; background:#FFF; border:1px solid #CCCCCC;
    border-radius:4px; box-shadow:1px 1px 6px -3px #000;
}
.loader-container {
    position:fixed;
    top:40%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    height:150px;
    width:250px;
    background:#000;
    border-radius:5px;
    color:#fff;
    opacity:0.5;
    display:none;
    text-align:center;
    margin:0 0 0 -125px;
}
.loader {
    margin:0 auto;
    width:25px;
    height:25px;
    border-top:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:8px solid transparent;
    border-left:8px solid #333;
    border-radius:50%;
    -webkit-animation:ani .7s infinite linear;
    animation:ani .7s infinite linear;
}
@-webkit-keyframes ani {
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}
@keyframes ani {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
